version: '3.6'
services:
  mysql:
    image: mysql:5.7
    ports:
      - '3306:3306'
    restart: always
    expose:
      - 3306
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: oowlishroldb
  app:
    image: team-api:latest
#    build: .
    ports:
      - '8082:8082'
    environment:
      DATABASE_URL: jdbc:mysql://root:12345@mysql:3306/oowlishroldb
    depends_on:
      - 'mysql'

volumes:
  db_data: